
.main{
    
}
.texto-video{
    z-index: 2;
    background: rgba(0,0,153, 0.3) !important;
    width: inherit;
    height: inherit;
    padding-top: 20%;
}
.video1{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 150%;
    background: rgba(0,0,153, 0.3);
}